<!DOCTYPE html>
<html lang="en" xmlns:v-on="http://www.w3.org/1999/xhtml" xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
    <input v-on:keyup.enter="addToList" v-model="newItemText" type="text" class="inputTask" placeholder="insert task to list.."/>
    <button v-on:click="addToList">Add Item</button>
    <ul>
        <li @click='selectItemEdit(item)' v-for="item in items">
            <div v-bind:style="{'text-decoration': item.activity ? 'line-through' : null}">{{item.text}}</div>
        </li>
    </ul>
    <div v-if="selectedItem">
        <label for="item-text">text:</label>
        <input id="item-text" type=text v-model="selectedItem.text"/>
        <button v-bind:style="{'background-color': selectedItem.activity ? '#4CAF50' : 'red'}" v-on:click="changeStatus">{{selectedItem.activity}}</button>
    </div>
</div>

<script src="https://unpkg.com/vue"></script>
<script src="todo.js"></script>
</body>
</html>
